{
  "root": true,
  "extends": ["@react-native-community", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "react-native"],
  "ignorePatterns": ["./config/jest/jestSetup.ts"],
  "rules": {
    "quotes": ["error", "single"],
    "react-native/no-inline-styles": "error",
//    "react-native/no-raw-text": "error",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "no-var": "error"
  }
}
